.w-33{
  width: 33.33%;
}

.text-orange{
  color: #FFC000;
}

.text-pink{
  color: #EE257C;
}

.text-purple{
  color: #92278F;
}

.text-darkorange{
  color: #E84B3A;
}

.text-skyblue{
  color: #14BDF4;
}

.bg-orange{
  background-color: #FFC000;
}

.bg-pink{
  background-color: #EE257C;
}

.bg-purple{
  background-color: #92278F;
}


.bg-darkorange{
  background-color: #E84B3A;
}

.bg-skyblue{
  background-color: #14BDF4;
}