.contact{
  background-image:linear-gradient(rgba(4, 135, 168, 0.7), rgba(4, 135, 168, 0.7)), url(../../../public/image/achievements-bg.jpg) !important;
}

.contact::before {
  content: "";
  position: absolute;
  background: url(../../../public/image/section_notch_top.png);
  display: block;
  top: 0;
  width: 100%;
  height: 7px;
  z-index: 2;
}
.contact::after {
  content: "";
  position: absolute;
  background: url(../../../public/image/section_notch_bottom.png);
  display: block;
  bottom: 0;
  width: 100%;
  height: 7px;
  z-index: 2;
}